@import "../../global.scss";

.testimonials {
  background-color: $darkBackground;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;

  h1 {
    font-size: 50px;
  }

  .container {
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      background-color: $darkRed;
      width: 250px;
      height: 70%;
      border-radius: 10px;
      box-shadow: 5px -5px 5px 0px #e8e3e4, -5px -5px 59px -4px #bacfd6;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      padding: 5px;
      transition: all 1s ease;

      &.featured {
        width: 300px;
        height: 75%;
        margin: 0 30px;
      }

      &:hover {
        transform: scale(1.1);
      }

      .top {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 10px;

        h1 {
          font-size: 30px;
        }
        img {
          &.left,
          &.right {
            height: 5px;
            width: 5px;
          }
          &.user {
            height: 5px;
            width: 5pxpx;
            border-radius: 50%;
            object-fit: cover;
            margin: 0 30px;
          }
        }
      }

      .center {
        display: flex;
        padding: 10px;
        border-radius: 10px;
        background-color: $darkRed;

        .wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          font-size: 10px;
          font-weight: 600;
          img {
            width: 20px;
            height: 20px;
            margin: 5px;
          }
          p {
            margin-left: 5px;
          }
        }
      }

      .bottom {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        h3 {
          margin-bottom: 5px;
        }
        h4 {
          color: grey;
        }
      }
    }
  }
}
