$mainColor: #dbe4e9;
$blueColor: #0077b5;
$darkblueColor: #083f76;
$orangeColor: #fb7f09;
$redColor: #e44e58;
$backgroundColor: black;
$darkBackground: #2e3031;
$lighterBackground: rgb(200, 200, 200);
$darkRed: #e43956c4;
$lighterText: rgb(219, 219, 219);
$greyText: rgb(200, 200, 200);
